In [3]:
def times2(var):
    return (var*2)

In [51]:
times2(5)

10

In [ ]:
# to generate heading
#  name of heading
# change codetype to markdown type
# press shift+enter

# maps
# maps are predefined functions in python which is used to apply functional operations in each and every element of an array

In [6]:
seq = [1,2,3,4,5]

In [7]:
map(times2,seq)

In [9]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

# Lambda functions
# (used to write a general function without def, name, return of a function)

In [10]:
# def times2(var):return (var*2)
lambda var:var*2
# function without name and return just using a parameter of function

In [11]:
# assigning value of lambda to a variable
t = lambda var:var*2
# now t contains value of lambda we desired

In [13]:
t(6)
# passing parameters to designed t

12

In [50]:
list(map(lambda num:num*3,seq))
# creating a lambda function on the spot at the point where we want to map the sequence
# advantage: donot have to define the function formally

[3, 6, 9, 12, 15]

# filter

In [15]:
filter(lambda num:num*3,seq)

In [22]:
list(filter(lambda num:num*3,seq))
# role of filter function is not to modify each and every element of an array
# it is used to filter the array based on certain conditions

[1, 2, 3, 4, 5]

In [27]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

# String and some functions

In [23]:
s = "my name is Ujjwal"

In [24]:
s.lower()

'my name is ujjwal'

In [25]:
s.upper()

'MY NAME IS UJJWAL'

In [28]:
s.split()
# very important function.
# it is used to convert the string into array of words.

['my', 'name', 'is', 'Ujjwal']

In [31]:
tweet = "Go Sports! #Sports"
tweet.split()

['Go', 'Sports!', '#Sports']

In [36]:
a = tweet.split("#")
# assigning split value to simple variable a
# split in the string occurs wrt to '#' .
# split of string occurs into word of array only at position where string contains "#"
# by default this parameter is blank space

In [38]:
tweet.split("#")[1]
# indexing of array

'Sports'

In [34]:
print(a)

['Go Sports! ', 'Sports']

In [35]:
a[1]

'Sports'

# dictionary and some functions

In [44]:
d = {"k1":1,"k2":2}
# initializing a dictionary

In [41]:
d

{'k1': 1, 'k2': 2}

In [45]:
d.keys()
# returns list of keys in unordered form which is not indexible

dict_keys(['k1', 'k2'])

In [46]:
d.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [47]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [49]:
d.values()

dict_values([1, 2])

# list and some functions

In [52]:
lst = [1,2,3]

In [53]:
lst.pop()

3

In [54]:
lst

[1, 2]

In [55]:
lst = [1,2,3,4,5]

In [56]:
item = lst.pop()
# assigning the deleted element from list to item

In [57]:
item

5

In [58]:
lst

[1, 2, 3, 4]

In [59]:
first = lst.pop(0)

In [60]:
first

1

In [61]:
lst

[2, 3, 4]

In [62]:
lst.append('new')

In [63]:
lst

[2, 3, 4, 'new']

In [64]:
'x' in lst

False

In [65]:
'x' in ['x','y','z']

True

In [66]:
x = [(1,2),(3,4),(5,6)]
# list of tuples

In [67]:
x[0]

(1, 2)

In [68]:
x[0][1]

2

In [69]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [72]:
for (a,b) in x:
    print("a is ",a," ","b is ",b)
# paranthesis () is just a formality here

a is  1   b is  2
a is  3   b is  4
a is  5   b is  6

In [73]:
for a,b in x:
    print("a is ",a," ","b is ",b)

a is  1   b is  2
a is  3   b is  4
a is  5   b is  6