In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index = list(zip(outside,inside))
# zip function used along with list is used to make list of tuples

In [6]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
# hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
# hier_index

In [9]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])
# 1st argument : data
# 2nd argument : index = axes[0]
# 3rd argument : column = axes[1]

In [10]:
df

                A         B
(G1, 1)  0.150935  1.395248
(G1, 2)  0.701513  0.546919
(G1, 3)  0.339890 -1.122658
(G2, 1)  0.436907 -0.028882
(G2, 2)  0.112786  1.706828
(G2, 3)  0.429128  0.531639

In [11]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  0.161543  1.027719
   2  1.782865 -0.116471
   3  1.330385 -1.083092
G2 1  1.940301  0.178801
   2 -0.921874 -0.628343
   3  0.411225  0.930288

In [16]:
df['A']

G1  1    0.161543
    2    1.782865
    3    1.330385
G2  1    1.940301
    2   -0.921874
    3    0.411225
Name: A, dtype: float64

In [17]:
df['B']

G1  1    1.027719
    2   -0.116471
    3   -1.083092
G2  1    0.178801
    2   -0.628343
    3    0.930288
Name: B, dtype: float64

In [23]:
df.loc['G1']

          A         B
1  0.161543  1.027719
2  1.782865 -0.116471
3  1.330385 -1.083092

In [24]:
df.loc['G1'].loc[1]

A    0.161543
B    1.027719
Name: 1, dtype: float64

In [ ]:
df

## to give names to such indexes

In [25]:
df.index.names = ['Groups','Num']

In [26]:
df

                   A         B
Groups Num
G1     1    0.161543  1.027719
       2    1.782865 -0.116471
       3    1.330385 -1.083092
G2     1    1.940301  0.178801
       2   -0.921874 -0.628343
       3    0.411225  0.930288

In [27]:
df.loc['G2'].loc[2]['B']

-0.6283425786130116

## cross section function of an index

In [28]:
df.xs('G1')

            A         B
Num
1    0.161543  1.027719
2    1.782865 -0.116471
3    1.330385 -1.083092

In [29]:
df.xs(1)
# doesnot work directly

KeyError: 1

In [33]:
df.xs(1,level = 'Num')

               A         B
Groups
G1      0.161543  1.027719
G2      1.940301  0.178801