## Pandas

### pandas series

In [3]:
# a series is very  similar numpy array
# in fact series is built on the top of numpy array object

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
label = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [7]:
pd.Series(data = my_data)
# note s of series is in capital
# here my_data is a python list

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data,index = label)
# here we can change index values by initializing labels

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,label)
# we can also do like this keeping in mind of order of parameter

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,label)
# here arr is a numpy array
# numpy array works same as python list

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(d)
# here on passing a dictionary key  are treated as index
#  key value are treated as index values

a    10
b    20
c    30
dtype: int64

### data as labels

In [15]:
pd.Series(data=label)

0    a
1    b
2    c
dtype: object

###  data as built in functions

In [16]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [18]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [20]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [21]:
ser1['USA']

1

In [22]:
ser3 = pd.Series(data=label)

In [23]:
ser3

0    a
1    b
2    c
dtype: object

In [24]:
ser3[0]

'a'

In [26]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser1+ser2
# those indexes which are present in both ser1 and ser2 both add up
# those indexes which are either present in ser1 or ser2 individually then results in NaN

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64